---
layout: page
---
<div class="post">
  <article>
    {% assign alignment = 'left' %}
    {% for category in site.data.staff %}
      {% for profile in category[1] %}
        <hr>
        <div class="profile float-{{ alignment }}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.name %}
            <div class="more-info">{{ profile.name }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
        {% if alignment == 'left' %}
          {% assign alignment = 'right' %}
        {% else %}
          {% assign alignment = 'left' %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </article>
</div>